$bg-color: #fafafa;
$blue: #e7edf4;
$primary: rgb(7, 207, 69);
$pink: #ffdbdb;
$gray-light: #dbe1e8;
$gray: #d9d9d9;
$white: #ffffff;
$paragraph: rgba(
  $color: #414141,
  $alpha: 0.8,
);
$gold: #d0c800;
