@import "/src/app/styles/variables";

.thank_you {
  height: calc(100vh - 388px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;

  .icon {
    font-size: 8rem;
    color: $primary;
  }
}
